@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-50 text-gray-900 antialiased;
  }
}

@layer utilities {
  .sticky-col {
    position: sticky;
    left: 0;
    z-index: 10;
    background: white;
  }
  .sticky-col-2 {
    position: sticky;
    left: 48px;
    z-index: 10;
    background: white;
  }
}
